<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="node_modules/vue/dist/vue.js"></script>
    <style>
        .demo {
            width: 100px;
            height: 100px;
            background-color: gray;
            display: inline-block;
            margin: 10px;
        }
        .red {
            background-color: red;
        }
        .green {
            background-color: green;
        }
        .blue {
            background-color: blue;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1 v-once>{{title}}</h1>
        <input type="text" @input="changeTitle">
        <p>{{title}} <a :href="link">Havaianas</a></p>
        <p v-html="finishedLink"></p>
        <input type="text" v-bind:value="title">
        <hr>
        <h1>{{counter}}</h1>
        <button @click="increase(2, $event)">Click me</button>
        <p @mousemove="updateCoordinates">Coordinates: {{x}} / {{y}} - <span @mousemove.stop>DEAD SPOT</span></p>
        <input type="text" @keyup.enter="alertMe">
        <hr>
        <input type="text" v-model="name">
        <p>{{name}}</p>
        <hr>
        <h1>Computed</h1>
        <button @click="counter++">Increase</button>
        <button @click="counter--">Decrease</button>
        <button @click="secondCounter++">Increase Second</button>
        <p>Counter: {{ counter }} | {{ secondCounter }}</p>
        <p>Result: {{ result() }} | {{ output }}</p>
    </div>

    <hr>
    <div id="appCss">
        <div class="demo" :class="{'red': attachRed}" @click="attachRed = !attachRed"></div>
        <div class="demo" :style="{'background-color': colour}"></div>
        <div class="demo" :class="colour"></div>
        <div class="demo" :class="divClasses"></div>
        <input type="text" v-model="colour">
    </div>
    
    <script>
        new Vue({
            el: '#app',
            data: {
                title: 'Hello World!',
                link: 'https://www.havaianasaustralia.com.au',
                finishedLink: '<a href="http://www.redetv.com.br">RedeTV!</a>',
                counter: 0,
                secondCounter: 0,
                x: 0,
                y: 0,
                name: 'Marcio'
            },
            computed: {
                output: function() {
                    console.log('Computed');
                    return this.counter > 5 ? 'Greater 5' : 'Smaller than 5';
                }
            },
            watch: {
                counter: function(value) {
                    var vm = this;

                    setTimeout(function(){
                        vm.counter = 0;
                    }, 2000);
                }
            },
            methods: {
                changeTitle: function(event) {
                    this.title = event.target.value;
                },
                increase: function(step, event) {
                    this.counter += step;
                },
                updateCoordinates: function(event) {
                    this.x = event.clientX;
                    this.y = event.clientY;
                },
                alertMe: function() {
                    alert('Alert!');
                },
                result: function() {
                    console.log('Method');
                    return this.counter > 5 ? 'Greater 5' : 'Smaller than 5';
                }
            }
        });
        new Vue({
            el: '#appCss',
            data: {
                attachRed:false,
                colour: 'red'
            },
            computed: {
                divClasses: function() {
                    return {
                        red: this.attachRed,
                        green: !this.attachRed
                    }
                }
            }
        });
    </script>
</body>
</html>